@import '../../../assets/style/local.less';
.address-list{
	margin-bottom: 50px;
}
.address-item {
	padding: @basePadding;
	background: #fff;
	border-bottom: 1px solid #eee;
	.address-content{
		width:80%;
	}
	.da-acquiesce {
		display: inline-block;
		margin-right: 4px;
		padding: 0 4px;
		color: #fff;
		background: #f44336;
		border-radius: 2px;
	}
	.da-detail-address {
		margin-top: 5px;
		font-weight: bold;
		font-size: 16px;
	}
	.da-info {
		margin-top: 5px;
		.da-mobile {
			margin-left: 20px;
		}
	}
}
.btn-list {
	height: 100%;
	button {
		height: 100%;
	}
}
