.pwd-pop{
    padding-bottom: 244px;
    font-size: 14px;
    .pwd-top{
        margin-top: 16px;
        text-align: center;
        .title{
            font-size: 20px;
            // font-weight: 500;
        }
        .money{
            padding: 16px 0;
            font-size: 18px;
            span{
                font-size: 14px;
            }
        }
    }
    .forget-pwd{
        margin-top: 10px;
        padding-right: 16px;
        color: #1989fa;
        text-align: right;
    }
    .van-number-keyboard{
        position: static;
        margin-top: 10px;
    }
}